.about{
    background-color: #00688B;
    color: white;
}

.header-primary{
  line-height: 3em;
  margin-left: 65px;
}

.photo{
    height: 375px;
  width: 350px;
  padding-bottom: 20px;
}

.about-content{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.about-text {
    flex: 0 0 35%;
}

